# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
%matplotlib inline

         DATE  PCEPILFE_CCA
0  1991-04-01       3.07157
1  1991-07-01       3.58542
2  1991-10-01       3.13478
3  1992-01-01       3.04982
4  1992-04-01       2.81308

In [ ]:
dfus = pd.read_csv('/content/data/rates_us.csv', header=0, sep=',')
dfus.head(20)


# create a pandas DataFrame with the following columns:
# Year
# Month
# Current_Rate (Interest rate for that month)
# Change_From_Last_Month (Difference in Current_Rate from the previous month)
# dfus = pd.DataFrame(columns=['Year', 'Month', 'Current_Rate', 'Change_From_Last_Month'])
# dfus
# dfus['Year'] == dfreadus['Date']
# dfus['Month'] == dfreadus['Date']
# dfus['Current_Rate'] == dfreadus['1 Mo']
# dfus['Change_From_Last_Month'] == dfreadus['1 Mo'] - dfreadus['1 Mo'].shift(1)

dfus['Date'] = pd.to_datetime(dfus['Date'])
dfus['Year'] = dfus['Date'].dt.year
dfus['Month'] = dfus['Date'].dt.month
dfus['Current_rate'] = dfus['1 Mo']
dfus['Change_From_Last_Month'] = dfus['1 Mo'].diff()
dfus = dfus.drop(['1 Mo'], axis=1)
dfus = dfus.drop(['Date'], axis=1)
dfus = dfus.drop(['2 Mo'], axis=1)
dfus = dfus.drop(['3 Mo'], axis=1)
dfus = dfus.drop(['4 Mo'], axis=1)
dfus = dfus.drop(['6 Mo'], axis=1)
dfus = dfus.drop(['1 Yr'], axis=1)
dfus = dfus.drop(['2 Yr'], axis=1)
dfus = dfus.drop(['3 Yr'], axis=1)
dfus = dfus.drop(['5 Yr'], axis=1)
dfus = dfus.drop(['7 Yr'], axis=1)
dfus = dfus.drop(['10 Yr'], axis=1)
dfus = dfus.drop(['20 Yr'], axis=1)
dfus = dfus.drop(['30 Yr'], axis=1)
#למחוק שורות שהשנה והחודש יהיו שוים
dfus = dfus.drop_duplicates(['Year', 'Month'])
dfus.head(20)

<ipython-input-98-dbd330027505>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfus['Date'] = pd.to_datetime(dfus['Date'])

     Year  Month  Current_rate  Change_From_Last_Month
0    2023     12          5.60                     NaN
20   2023     11          5.56                    0.01
41   2023     10          5.56                    0.00
62   2023      9          5.55                   -0.01
82   2023      8          5.52                    0.01
105  2023      7          5.48                   -0.01
125  2023      6          5.24                   -0.03
146  2023      5          5.28                   -0.02
168  2023      4          4.35                   -0.14
188  2023      3          4.74                    0.04
211  2023      2          4.65                   -0.02
230  2023      1          4.58                   -0.01
250  2022     12          4.12                   -0.05
271  2022     11          4.07                    0.03
291  2022     10          3.73                    0.01
311  2022      9          2.79                   -0.08
332  2022      8          2.40                   -0.13
355  2022      7          2.22                    0.00
375  2022      6          1.28                    0.01
396  2022      5          0.73                   -0.04

In [ ]:
# your code here
dfis = pd.read_csv('/content/data/rates_is.csv', header=0, sep=',')
dfis.head()
# create a pandas DataFrame with the following columns:
# Year
# Month
# Current_Rate (Interest rate for that month)
# Change_From_Last_Month (Difference in Current_Rate from the previous month)
dfis['TIME_PERIOD'] = pd.to_datetime(dfis['TIME_PERIOD'])
dfis['Year'] = dfis['TIME_PERIOD'].dt.year
dfis['Month'] = dfis['TIME_PERIOD'].dt.month
dfis['Current_rate'] = dfis['OBS_VALUE']
dfis['Change_From_Last_Month'] = dfis['OBS_VALUE'].diff()
dfis = dfis.drop(['OBS_VALUE'], axis=1)
dfis = dfis.drop(['TIME_PERIOD'], axis=1)
dfis = dfis.drop(['Series name'], axis=1)
dfis = dfis.drop(['FREQ'], axis=1)
dfis = dfis.drop(['SERIES_CODE'], axis=1)
dfis = dfis.drop(['Frequency'], axis=1)
dfis = dfis.drop(['IR_FV_TYPE'], axis=1)
dfis = dfis.drop(['Interest type'], axis=1)
dfis = dfis.drop(['Data source'], axis=1)
dfis = dfis.drop(['TIME_COLLECT'], axis=1)
dfis = dfis.drop(['Time period collection'], axis=1)
dfis = dfis.drop(['Unit of Measure'], axis=1)
dfis = dfis.drop(['DATA_SOURCE'], axis=1)
dfis = dfis.drop(['Confidentiality status'], axis=1)
dfis = dfis.drop(['PUB_WEBSITE'], axis=1)
dfis = dfis.drop(['Published on the website'], axis=1)
dfis = dfis.drop(['UNIT_MEASURE'], axis=1)
dfis = dfis.drop(['UNIT_MULT'], axis=1)
dfis = dfis.drop(['Unit multiplier'], axis=1)
dfis = dfis.drop(['RELEASE_STATUS'], axis=1)
dfis = dfis.drop(['RELEASE STATUS'], axis=1)
dfis = dfis.drop(['CONF_STATUS'], axis=1)
dfis = dfis.drop_duplicates(['Year', 'Month'])


dfis.head(30)

     Year  Month  Current_rate  Change_From_Last_Month
0    1994      1          10.5                     NaN
5    1994      2          10.5                     0.0
33   1994      3          10.5                     0.0
64   1994      4          10.5                     0.0
94   1994      5          10.5                     0.0
125  1994      6          11.5                     0.0
155  1994      7          12.0                     0.0
186  1994      8          12.5                     0.0
217  1994      9          14.0                     1.5
247  1994     10          15.5                     0.0
278  1994     11          15.5                     0.0
308  1994     12          17.0                     1.5
339  1995      1          17.0                     0.0
370  1995      2          17.0                     0.0
398  1995      3          16.3                     0.0
429  1995      4          14.8                     0.0
459  1995      5          14.0                     0.0
490  1995      6          13.5                    -0.5
520  1995      7          13.5                     0.0
551  1995      8          13.2                     0.0
582  1995      9          13.2                     0.0
612  1995     10          13.7                     0.0
643  1995     11          14.2                     0.0
673  1995     12          14.2                     0.0
704  1996      1          13.7                     0.0
735  1996      2          14.0                     0.3
764  1996      3          14.0                     0.0
795  1996      4          14.0                     0.0
825  1996      5          14.8                     0.0
856  1996      6          15.5                     0.0

In [ ]:
dfreader = pd.read_csv('/content/data/exchange_rates.csv', header=0, sep=',')
dfreader.tail(30)
# create a pandas DataFrame with the following columns:
# Year
# Month
# Current_Rate (Interest rate for that month)
# Change_From_Last_Month (Difference in Current_Rate from the previous month)
dfreader['DATE'] = pd.to_datetime(dfreader['DATE'])
dfreader['Year'] = dfreader['DATE'].dt.year
dfreader['Month'] = dfreader['DATE'].dt.month
dfreader['Current_rate'] = dfreader['CCUSSP02ILM650N']
dfreader['Change_From_Last_Month'] = dfreader['CCUSSP02ILM650N'].diff()
dfreader = dfreader.drop(['CCUSSP02ILM650N'], axis=1)
dfreader = dfreader.drop(['DATE'], axis=1)
dfreader.head(30)

    Year  Month  Current_rate  Change_From_Last_Month
0   1993      1         2.765                     NaN
1   1993      2         2.795                   0.030
2   1993      3         2.768                  -0.027
3   1993      4         2.728                  -0.040
4   1993      5         2.729                   0.001
5   1993      6         2.805                   0.076
6   1993      7         2.872                   0.067
7   1993      8         2.873                   0.001
8   1993      9         2.864                  -0.009
9   1993     10         2.923                   0.059
10  1993     11         2.971                   0.048
11  1993     12         2.986                   0.015
12  1994      1         2.987                   0.001
13  1994      2         2.975                  -0.012
14  1994      3         2.969                  -0.006
15  1994      4         3.000                   0.031
16  1994      5         3.037                   0.037
17  1994      6         3.033                  -0.004
18  1994      7         3.057                   0.024
19  1994      8         3.032                  -0.025
20  1994      9         3.013                  -0.019
21  1994     10         3.009                  -0.004
22  1994     11         3.031                   0.022
23  1994     12         3.018                  -0.013
24  1995      1         2.998                  -0.020
25  1995      2         2.988                  -0.010
26  1995      3         2.968                  -0.020
27  1995      4         2.961                  -0.007
28  1995      5         3.005                   0.044
29  1995      6         2.951                  -0.054

## Part A: Single DataFrame Analysis
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [ ]:
# A - 1
# your code here
dfus['Current_rate'].head()

0    5.60
1    5.57
2    5.55
3    5.53
4    5.54
Name: Current_rate, dtype: float64

In [ ]:
# A - 2
# your code here
dfis['Current_rate'].mean()

4.8836927223719675

In [ ]:
# A - 3
# your code here
print(dfis['Change_From_Last_Month'].max())
print(dfus['Change_From_Last_Month'].max())

1.5
1.0499999999999998

In [ ]:
# A - 4
# your code here
count = len(dfus.loc[dfus['Change_From_Last_Month'] < 0])
count

122

In [ ]:
# A - 5
# your code here
dfis['Change_Percentage'] = dfis['Change_From_Last_Month'].pct_change()
dfis['Change_Percentage'].head(50)

0       NaN
5       NaN
33      NaN
64      NaN
94      NaN
125     NaN
155     NaN
186     NaN
217     inf
247    -1.0
278     NaN
308     inf
339    -1.0
370     NaN
398     NaN
429     NaN
459     NaN
490    -inf
520    -1.0
551     NaN
582     NaN
612     NaN
643     NaN
673     NaN
704     NaN
735     inf
764    -1.0
795     NaN
825     NaN
856     NaN
886     NaN
917    -inf
948    -1.0
978     NaN
1009    NaN
1039    NaN
1070    NaN
1101    NaN
1129    NaN
1160    NaN
1190    NaN
1221    NaN
1251    NaN
1282    NaN
1313    NaN
1343    NaN
1374    NaN
1404    NaN
1435    NaN
1466    NaN
Name: Change_Percentage, dtype: float64

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [ ]:
# B - 1
# your code here
dfmerged = pd.merge(dfus, dfis, on=['Year', 'Month'])
dfmerged.head(20)

,Year,Month,Current_rate_x,Change_From_Last_Month_x,Current_rate_y,Change_From_Last_Month_y,Change_Percentage
0,2023,12,5.60,NaN,4.75,0.0,NaN
1,2023,11,5.56,0.01,4.75,0.0,NaN
2,2023,10,5.56,0.00,4.75,0.0,NaN
3,2023,9,5.55,-0.01,4.75,0.0,NaN
4,2023,8,5.52,0.01,4.75,0.0,NaN
5,2023,7,5.48,-0.01,4.75,0.0,NaN
6,2023,6,5.24,-0.03,4.75,0.0,NaN
7,2023,5,5.28,-0.02,4.50,0.0,NaN
8,2023,4,4.35,-0.14,4.25,0.0,NaN
9,2023,3,4.74,0.04,4.25,0.0,NaN
10,2023,2,4.65,-0.02,3.75,0.0,NaN
11,2023,1,4.58,-0.01,3.25,0.0,NaN
12,2022,12,4.12,-0.05,3.25,0.0,NaN
13,2022,11,4.07,0.03,2.75,0.0,NaN
14,2022,10,3.73,0.01,2.00,0.0,NaN
15,2022,9,2.79,-0.08,2.00,0.0,NaN
16,2022,8,2.40,-0.13,1.25,0.0,NaN
17,2022,7,2.22,0.00,0.75,0.0,NaN
18,2022,6,1.28,0.01,0.75,0.0,NaN
19,2022,5,0.73,-0.04,0.35,0.0,NaN

In [ ]:
# B - 2
# your code here
dfmerged['Rate_Difference'] = dfmerged['Current_rate_x'] - dfmerged['Current_rate_y']
dfmerged.head(20)

,Year,Month,Current_rate_x,Change_From_Last_Month_x,Current_rate_y,Change_From_Last_Month_y,Change_Percentage,Rate_Difference
0,2023,12,5.60,NaN,4.75,0.0,NaN,0.85
1,2023,11,5.56,0.01,4.75,0.0,NaN,0.81
2,2023,10,5.56,0.00,4.75,0.0,NaN,0.81
3,2023,9,5.55,-0.01,4.75,0.0,NaN,0.80
4,2023,8,5.52,0.01,4.75,0.0,NaN,0.77
5,2023,7,5.48,-0.01,4.75,0.0,NaN,0.73
6,2023,6,5.24,-0.03,4.75,0.0,NaN,0.49
7,2023,5,5.28,-0.02,4.50,0.0,NaN,0.78
8,2023,4,4.35,-0.14,4.25,0.0,NaN,0.10
9,2023,3,4.74,0.04,4.25,0.0,NaN,0.49
10,2023,2,4.65,-0.02,3.75,0.0,NaN,0.90
11,2023,1,4.58,-0.01,3.25,0.0,NaN,1.33
12,2022,12,4.12,-0.05,3.25,0.0,NaN,0.87
13,2022,11,4.07,0.03,2.75,0.0,NaN,1.32
14,2022,10,3.73,0.01,2.00,0.0,NaN,1.73
15,2022,9,2.79,-0.08,2.00,0.0,NaN,0.79
16,2022,8,2.40,-0.13,1.25,0.0,NaN,1.15
17,2022,7,2.22,0.00,0.75,0.0,NaN,1.47
18,2022,6,1.28,0.01,0.75,0.0,NaN,0.53
19,2022,5,0.73,-0.04,0.35,0.0,NaN,0.38

In [ ]:
# B - 3
# your code here
dfmerged['Rate_Comparison'] = np.where(dfmerged['Current_rate_y'] > dfmerged['Current_rate_x'] + 0.01, 'IH', np.where(dfmerged['Current_rate_x'] > dfmerged['Current_rate_y'] + 0.01, 'UH', 'N'))
dfmerged.tail(30)

,Year,Month,Current_rate_x,Change_From_Last_Month_x,Current_rate_y,Change_From_Last_Month_y,Change_Percentage,Rate_Difference,Rate_Comparison
330,1996,6,NaN,NaN,15.5,0.0,NaN,NaN,N
331,1996,5,NaN,NaN,14.8,0.0,NaN,NaN,N
332,1996,4,NaN,NaN,14.0,0.0,NaN,NaN,N
333,1996,3,NaN,NaN,14.0,0.0,-1.0,NaN,N
334,1996,2,NaN,NaN,14.0,0.3,inf,NaN,N
335,1996,1,NaN,NaN,13.7,0.0,NaN,NaN,N
336,1995,12,NaN,NaN,14.2,0.0,NaN,NaN,N
337,1995,11,NaN,NaN,14.2,0.0,NaN,NaN,N
338,1995,10,NaN,NaN,13.7,0.0,NaN,NaN,N
339,1995,9,NaN,NaN,13.2,0.0,NaN,NaN,N
340,1995,8,NaN,NaN,13.2,0.0,NaN,NaN,N
341,1995,7,NaN,NaN,13.5,0.0,-1.0,NaN,N
342,1995,6,NaN,NaN,13.5,-0.5,-inf,NaN,N
343,1995,5,NaN,NaN,14.0,0.0,NaN,NaN,N
344,1995,4,NaN,NaN,14.8,0.0,NaN,NaN,N
345,1995,3,NaN,NaN,16.3,0.0,NaN,NaN,N
346,1995,2,NaN,NaN,17.0,0.0,NaN,NaN,N
347,1995,1,NaN,NaN,17.0,0.0,-1.0,NaN,N
348,1994,12,NaN,NaN,17.0,1.5,inf,NaN,N
349,1994,11,NaN,NaN,15.5,0.0,NaN,NaN,N
350,1994,10,NaN,NaN,15.5,0.0,-1.0,NaN,N
351,1994,9,NaN,NaN,14.0,1.5,inf,NaN,N
352,1994,8,NaN,NaN,12.5,0.0,NaN,NaN,N
353,1994,7,NaN,NaN,12.0,0.0,NaN,NaN,N
354,1994,6,NaN,NaN,11.5,0.0,NaN,NaN,N
355,1994,5,NaN,NaN,10.5,0.0,NaN,NaN,N
356,1994,4,NaN,NaN,10.5,0.0,NaN,NaN,N
357,1994,3,NaN,NaN,10.5,0.0,NaN,NaN,N
358,1994,2,NaN,NaN,10.5,0.0,NaN,NaN,N
359,1994,1,NaN,NaN,10.5,NaN,NaN,NaN,N

In [ ]:
# B - 4
# your code here
dfmerged = pd.merge(dfmerged, dfreader, on=['Year', 'Month'])
dfmerged.head(20)

,Year,Month,Current_rate_x,Change_From_Last_Month_x,Current_rate_y,Change_From_Last_Month_y,Change_Percentage,Rate_Difference,Rate_Comparison,Day,Current_rate,Change_From_Last_Month
0,2023,12,5.60,NaN,4.75,0.0,NaN,0.85,UH,29,5.60,NaN
1,2023,11,5.56,0.01,4.75,0.0,NaN,0.81,UH,30,5.56,0.01
2,2023,10,5.56,0.00,4.75,0.0,NaN,0.81,UH,31,5.56,0.00
3,2023,9,5.55,-0.01,4.75,0.0,NaN,0.80,UH,29,5.55,-0.01
4,2023,8,5.52,0.01,4.75,0.0,NaN,0.77,UH,31,5.52,0.01
5,2023,7,5.48,-0.01,4.75,0.0,NaN,0.73,UH,31,5.48,-0.01
6,2023,6,5.24,-0.03,4.75,0.0,NaN,0.49,UH,30,5.24,-0.03
7,2023,5,5.28,-0.02,4.50,0.0,NaN,0.78,UH,31,5.28,-0.02
8,2023,4,4.35,-0.14,4.25,0.0,NaN,0.10,UH,28,4.35,-0.14
9,2023,3,4.74,0.04,4.25,0.0,NaN,0.49,UH,31,4.74,0.04
10,2023,2,4.65,-0.02,3.75,0.0,NaN,0.90,UH,28,4.65,-0.02
11,2023,1,4.58,-0.01,3.25,0.0,NaN,1.33,UH,31,4.58,-0.01
12,2022,12,4.12,-0.05,3.25,0.0,NaN,0.87,UH,30,4.12,-0.05
13,2022,11,4.07,0.03,2.75,0.0,NaN,1.32,UH,30,4.07,0.03
14,2022,10,3.73,0.01,2.00,0.0,NaN,1.73,UH,31,3.73,0.01
15,2022,9,2.79,-0.08,2.00,0.0,NaN,0.79,UH,30,2.79,-0.08
16,2022,8,2.40,-0.13,1.25,0.0,NaN,1.15,UH,31,2.40,-0.13
17,2022,7,2.22,0.00,0.75,0.0,NaN,1.47,UH,29,2.22,0.00
18,2022,6,1.28,0.01,0.75,0.0,NaN,0.53,UH,30,1.28,0.01
19,2022,5,0.73,-0.04,0.35,0.0,NaN,0.38,UH,31,0.73,-0.04

In [ ]:
# B - 5
# your code here
# בגלל שאם במקום אחד הריבית עולה, אז הערך לכסף המתקבל גבוה יותר ומשום כך אנשים רוצים לקחת מטבע זר, נניח ישראלי בריבית נמוכה, ולמכור אותו כדולרים שמתקבלת ריבית גבוהה, ואז להרויח, ולכן שווי המטבע בעל הריבית הגבוהה עולה , וזה הקשר בין הריביות לשער החליפין.

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

1. כאשר הריבית בארצות הברית עולה, אנשים רוצים למכור את הדולרים שיש להם ולקבל תמורתם יותר כסף, מה שגורם בהכרח לעליית שער הדולר

```
# This is formatted as code
```

2. אמנם ברור שהשפעת עליית הריבית בארצות הברית גבוהה משל ישראל, משום שהכלכלה שלהם יותר חזקה וגורמת לעליית ערך הדולר יותר מאשר בישראל

3. השפעות קצרות טווח הם מצויות, אבל לא בהפרש גדול, כאשר ישנה מגמת עלייה אזי נראה שינוי חזק תוך כמה חודשים

In [ ]:
# Bonus

In [ ]:
# c - 4
# Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.
dfmerged['Rolling_Average'] = dfmerged['Current_rate'].rolling(window=3).mean()
dfmerged.head(20)

,Year,Month,Current_rate_x,Change_From_Last_Month_x,Current_rate_y,Change_From_Last_Month_y,Change_Percentage,Rate_Difference,Rate_Comparison,Day,Current_rate,Change_From_Last_Month,Rolling_Average
0,2023,12,5.60,NaN,4.75,0.0,NaN,0.85,UH,29,5.60,NaN,NaN
1,2023,11,5.56,0.01,4.75,0.0,NaN,0.81,UH,30,5.56,0.01,NaN
2,2023,10,5.56,0.00,4.75,0.0,NaN,0.81,UH,31,5.56,0.00,5.573333
3,2023,9,5.55,-0.01,4.75,0.0,NaN,0.80,UH,29,5.55,-0.01,5.556667
4,2023,8,5.52,0.01,4.75,0.0,NaN,0.77,UH,31,5.52,0.01,5.543333
5,2023,7,5.48,-0.01,4.75,0.0,NaN,0.73,UH,31,5.48,-0.01,5.516667
6,2023,6,5.24,-0.03,4.75,0.0,NaN,0.49,UH,30,5.24,-0.03,5.413333
7,2023,5,5.28,-0.02,4.50,0.0,NaN,0.78,UH,31,5.28,-0.02,5.333333
8,2023,4,4.35,-0.14,4.25,0.0,NaN,0.10,UH,28,4.35,-0.14,4.956667
9,2023,3,4.74,0.04,4.25,0.0,NaN,0.49,UH,31,4.74,0.04,4.790000
10,2023,2,4.65,-0.02,3.75,0.0,NaN,0.90,UH,28,4.65,-0.02,4.580000
11,2023,1,4.58,-0.01,3.25,0.0,NaN,1.33,UH,31,4.58,-0.01,4.656667
12,2022,12,4.12,-0.05,3.25,0.0,NaN,0.87,UH,30,4.12,-0.05,4.450000
13,2022,11,4.07,0.03,2.75,0.0,NaN,1.32,UH,30,4.07,0.03,4.256667
14,2022,10,3.73,0.01,2.00,0.0,NaN,1.73,UH,31,3.73,0.01,3.973333
15,2022,9,2.79,-0.08,2.00,0.0,NaN,0.79,UH,30,2.79,-0.08,3.530000
16,2022,8,2.40,-0.13,1.25,0.0,NaN,1.15,UH,31,2.40,-0.13,2.973333
17,2022,7,2.22,0.00,0.75,0.0,NaN,1.47,UH,29,2.22,0.00,2.470000
18,2022,6,1.28,0.01,0.75,0.0,NaN,0.53,UH,30,1.28,0.01,1.966667
19,2022,5,0.73,-0.04,0.35,0.0,NaN,0.38,UH,31,0.73,-0.04,1.410000

In [ ]:
# Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here